{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Le bon Troc{% endblock %}

{% block body %}
    <h1 class="text-center">Inscription</h1>

    {{form_start(form)}}
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                {{form_row(form.mail)}}
                {{form_row(form.nom)}}
                {{form_row(form.prenom)}}
                {{form_row(form.telephone)}}
            </div>
            <div class="col-lg-6">
                {{form_row(form.departement)}}
                {{form_row(form.code_post, {'attr': {'id': 'code_post'}})}}
                {{form_row(form.commune, {'attr': {'id': 'commune'}})}}
                {{form_row(form.password)}}
                {{form_row(form.confirm_password)}}
            </div>
            
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success ml-auto mr-auto">S'inscrire</button>
    </div>
    {{form_end(form)}}

{% endblock %}
{% block script %}
    <script>
        let departement = document.getElementById("departement");
    </script>
{% endblock %}
